header
    div#title
        a(href="/")
            h1
                span.highlight SIMPLE
                | BLOG
            p A simple 
                span.highlight blog
                |  about something.
    form#searchForm(action="/results", method="get")
        input(name="q", id="search", type="text", placeholder="Search")