section#posts.posts
    article
        h2
            span.highlight Qui
            | cu hinc corp
        p.article-body Inermis ocurreret cu vel. Qui cu hinc corpora, dicant doming mea cu. Deleniti scaevola sea ei, cu vis stet ferri, facer necessitatibus mea no. Mel amet epicurei intellegam id, an vis inani omnes verear, ei tale legere rationibus pri. In vis tale inani ludus, vix ut modus labores. Vix erat error ullamcorper cu.
        a.article-more(href="#", id="") Read More
        p.article-date Posted on Wed Oct 17 2018
        
    article.nopost
        p no posts