doctype 5
html(lang="en")
    head
        include admin-sections/head.pug
        
    body
        main
            include admin-sections/header.pug
            
            include admin-sections/editor.pug
            
            include admin-sections/footer.pug
