doctype 5
html(lang="en")
    head
        include home-sections/head.pug
    
    body
        main
            include home-sections/header.pug
            
            include home-sections/posts.pug
            
            include home-sections/sidebar.pug
            
            include home-sections/footer.pug