<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Admin</title>
    <link rel="stylesheet" href="/stylesheets/admin/main.css">
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/scripts/admin/editor.js"></script>
</head>

    
<body>
    <main>
        
        <header>
            <h1>Administration</h1>
            <nav>
                <ul>
                    <li>View Blog</li>
                    <li>logout</li>
                </ul>
            </nav>
        </header>
        
        <section class="addPost">
            <nav>
                <input id="title" type="text" placeholder="Title">
                <ul>
                    <li id="btnPublish">Publish</li>
                    <li>Save</li>
                    <li>View</li>
                    <li>Close</li>
                </ul>
            </nav>
            
            <div class="editor">
                <textarea id="body"></textarea>
            </div>
            
        </section>
        
        <footer>
            <p>Powered by Simple Blog. Back to Top.</p>
        </footer>
        
    </main>
</body>
</html>