<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Admin</title>
    
    <link rel="stylesheet" href="/stylesheets/admin/main.css">
</head>

    
<body>
    <main>
        
        <header>
            <h1>Administration</h1>
            <nav>
                <ul>
                    <li>View Blog</li>
                    <li>logout</li>
                </ul>
            </nav>
        </header>
        
        <aside class="sidebar">
            <nav>
                <ul>
                    <li>Posts</li>
                    <li>Comments</li>
                    <li>Settings</li>
                </ul>
            </nav>
        </aside>
        
        <section class="panel">
            
            <div class="post">
                <ul class="post-info">
                    <li>title</li>
                    <li>10/14/18</li>
                </ul>
                <ul class="post-controls">
                    <li>Edit</li>
                    <li>View</li>
                    <li>Delete</li>
                </ul>
            </div>
            
            <div class="post">
                <ul class="post-info">
                    <li>title</li>
                    <li>10/14/18</li>
                </ul>
                <ul class="post-controls">
                    <li>Edit</li>
                    <li>View</li>
                    <li>Delete</li>
                </ul>
            </div>
            
        </section>
        
        <footer>
            <p>Powered by Simple Blog. Back to Top.</p>
        </footer>
        
    </main>
</body>
</html>