<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Simple Blog</title>
    
    <!---<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/scripts/main.js"></script>--->
    
    <link rel="stylesheet" href="stylesheets/main.css">
</head>

    
<body>
    <main>
        
        <header>
            <div id="title">
                <h1><span class="highlight">SIMPLE</span> BLOG</h1>
                <p>A simple <span class="highlight">blog</span> about something.</p>
            </div>
            <form id="searchForm">
                <input name="search" id="search" type="text" placeholder="Search">
            </form>
        </header>
        
        <section id="posts" class="posts">
            <article>
                <h2><span class="highlight">Qui</span> cu hinc corp</h2>
                <p class="article-body">Inermis ocurreret cu vel. Qui cu hinc corpora, dicant doming mea cu. Deleniti scaevola sea ei, cu vis stet ferri, facer necessitatibus mea no. Mel amet epicurei intellegam id, an vis inani omnes verear, ei tale legere rationibus pri. In vis tale inani ludus, vix ut modus labores. Vix erat error ullamcorper cu.</p>
                <a href="#" class="article-more" id="">Read More</a>
                <p class="article-date">Posted on Wed Oct 17 2018</p>
            </article>
            <article class="nopost">
                <p>no posts</p>
            </article>
        </section>
        
        <aside class="sidebar">
            sidebar
        </aside>
        
        <footer>
            <p>Powered by Simple Blog. Back to Top.</p>
        </footer>
        
    </main>
</body>
</html>