meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(name="description", content="")
meta(name="author", content="")
link(rel="icon", href="../../../../favicon.ico")
title Administration
link(rel="stylesheet", href="/stylesheets/admin/main.css")
script(src="https://code.jquery.com/jquery-3.3.1.min.js")
script(src="/scripts/admin/editor.js")