section.panel
    each post in posts
        div.post
            ul.post-info
                li #{post.title}
                li.date #{post.date}
                if post.published
                    li.status Published
                else
                    li.status Draft

            ul.post-controls
                li
                    a(href="/admin/editor?id=" + post._id) Edit
                li
                    a(href="/full?id=" + post._id, target="_blank") View
                li
                    a.btnDelete(href="#", id="" + post._id) Delete